{{#with htmlWebpackPlugin.options.data.contact}}
  <section id="contact">
    <h1 class="section__title">{{title}}</h1>
    {{#each paragraphs}}
      <p class="section__paragraph section__paragraph--center o-center-margin">{{this}}</p>
    {{/each}}
    <div class="c-card-container o-center-margin">
      <input id="card-flip" type="checkbox" class="c-card__flip o-display-none"/>
      <div class="c-card">
        <div class="c-card__front">
          <p class="c-card__front__name">{{{card.name}}}</p>
          <p class="c-card__front__position">{{card.position}}</p>
          <p class="c-card__front__intro">{{card.intro}}</p>
          <p class="c-card__front__location">{{card.location}}</p>
          <p class="c-card__front__email">{{card.email}}</p>
          <div class="c-card__front__social">
            {{#each card.media}}
              <a target="_blank" class="c-card__social-link" href="{{href}}"><img src="{{imgSrc}}"/></a>
            {{/each}}
          </div>
          <label for="card-flip" class="c-card__flip-label">
            <span class="flip-line"></span>
            <span class="flip-line"></span>
            <span class="flip-line"></span>
            <span class="flip-line"></span>
            <span class="flip-line"></span>
          </label>
        </div>
        <div class="c-card__back">
          <label for="card-flip" class="c-card__flip-label">
            <span class="flip-line"></span>
            <span class="flip-line"></span>
            <span class="flip-line"></span>
            <span class="flip-line"></span>
            <span class="flip-line"></span>
          </label>
          <span class="c-card__back__name">{{card.back}}</span>
        </div>
      </div>
    </div>
  </section>
{{/with}}