{{#with htmlWebpackPlugin.options.data.menu}}
  <input id="menu-toggle" type="checkbox" class="c-menu-toggle o-display-none">
  <div class="c-menu">
    <label for="menu-toggle" class="c-menu__background"></label>
    <div class="c-menu__box">
      <div class="c-menu__header">
        <span class="c-menu__header__name">{{header}}</span>
        <label for="menu-toggle" class="c-menu-toggle-label">
          <span class="fa fa-caret-left fa-2x"></span>
          <span class="fa fa-caret-right fa-2x"></span>
        </label>
      </div>
      <nav class="c-menu__nav">
        <input id="sub-menu-toggle" type="checkbox" class="c-menu__nav__sub-menu-toggle o-display-none">
        <ul>
          {{#each navigationLinks}}
            <li class="c-menu__nav__li">
              {{#if subMenu}}
                <label for="sub-menu-toggle" class="c-menu__nav__sub-menu-toggle-label">
                  <span class="fa fa-minus-square-o fa-lg"></span>
                  <span class="fa fa-plus-square-o fa-lg"></span>
                </label>
              {{/if}}
              <a class="c-menu__nav__link section-link t-highlighted-link" href="{{href}}">{{text}}</a>
              <a class="c-menu__nav__mark section-link t-highlighted-link" href="{{href}}"><span
                  class="fa fa-circle"></span></a>
            </li>
            {{#if subMenu}}
              <li>
                <ul class="c-menu__nav__sub-menu">
                  {{#each subMenu}}
                    <li><label for="tab-radio{{@index}}" class="c-menu__nav__sub-menu__link accordion-label-menu js-project-label">{{this}}</label></li>
                  {{/each}}
                </ul>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </nav>
    </div>
  </div>
{{/with}}