{{#with htmlWebpackPlugin.options.data.skills}}
  <section id="skills">
    <h1 class="section__title">{{title}}</h1>
    {{#each paragraphs}}
      <p class="section__paragraph section__paragraph--center o-center-margin">{{this}}</p>
    {{/each}}

    <div class="section__content o-center-margin">
      <div class="skill-container">
        <div class="front-back-bar o-center-margin">
          <div class="front-back-bar__front">
            <span class="front-back-bar__bar__label">{{bar.0.label}}</span>
            <span class="front-back-bar__bar__percentage">{{bar.0.percentage}}</span>
          </div>
          <div class="front-back-bar__back">
            <span class="front-back-bar__bar__percentage">{{bar.1.percentage}}</span>
            <span class="front-back-bar__bar__label">{{bar.1.label}}</span>
          </div>
        </div>


        <div class="o-center-container o-center-container--wrap">
          {{#each barGraphs.graphs}}
            <div class="graph-container">
              <h3 class="align-center bar-graph--red">{{title}}</h3>
              <div class="bar-graph">
                <div class="row-labels">
                  {{#each ../this.barGraphs.labels}}
                    <div class="row-labels__label">{{this}}</div>
                  {{/each}}
                </div>
                {{#each skills}}
                  <div class="{{#if ../alternateColor}}bar-graph__col--alt-color {{/if}}bar-graph__col--{{level}}">
                    <div class="bar-graph__col__tooltip">{{tooltip}}</div>
                    <div class="bar-graph__col__label">{{label}}</div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
{{/with}}